<h1 class="header-container" >All Songs:</h1>
<h3 class="header-container" ><%= link_to "Back", playlists_path, class: "song-link" %> </h3>
<h3><% @songs.each do |song| %></h3>
<h3 class="header-container" ><%=link_to "#{song.song_name} - #{song.artist_name}", song_path(song), class: "song-link"%></h3>



<%end%>
