<h1>Your Mood and Weather Choices Say You are Feeling like this Song</h1>

<h3><% @playlist.songs.each do |song| %></h3>
<h3><%=link_to song.song_name, song_path(song), class: "song-link" %></h3>



<%end%>
